.App {
  text-align: center;
}

.home-header {
  background-color: #63BCFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #B0DDFF;
  text-decoration: underline;
}

.code-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #325E80;
}

.experience-header {
  background-color: #586E80;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-header {
  background-color: #63BCFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.contact-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #325E80;
}

.navBar {
  background-color: #325E80;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navBar h1 {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

.navBar a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navBar a:hover {
  background-color: #B0DDFF;
  color: #325E80;
}

.spacing {
  margin-top: 10%;
}

h2 {
  padding: 1px 1px;
}

html {
  scroll-behavior: smooth;
}

h3 {
  text-align: justify;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 0%;
}

.messageBox {
  height: 200px;
  width: 500px;
  margin-top: 1%;
}

.contactBox {
  margin-top: 1%;
  margin-bottom: 1%;
}

.contactForm {
  text-align: justify;
  text-align: left;
  margin-left: 5%;
}

img {
  float: left;
  margin-left: 0%;
  margin-bottom: 1px;
  margin-top: 1px;
}

label {
  margin-top: 5%;
  margin-bottom: 500%;
}

#text {
  font-size: 20px;
  text-align: justify;
  text-align: left;
  margin-left: 14%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#iText {
  font-size: 15px;
  text-align: justify;
  text-align: left;
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-style: italic;
}

input[type=text], select, textarea {
  width: 20%;
  padding: 12px;
  border: 1px solid #586E80;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #325E80;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B0DDFF;
  color: #325E80;
}

.row
{
  display:inline-block;
  align-items: center;
}

.column {
  display:inline-block;
  align-items: center;
  margin: 5%;
  background: #B0DDFF;
  padding: 5px;
  vertical-align: middle;
  horiz-align: center;
}

.ulCol {
  float: left;
}

.profilePhoto {
  border-radius: 50%;
  background: white;
  padding: 5px;
}
